[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pelican = ">=4"
markdown = "*"
pelican-jupyter = "*"
notebook = ">=6"
nbconvert = ">=5,<6.0"
ipykernel = "*"

[requires]
python_version = "3.8"
